
.container .card{
    position: relative;
	margin-top: -60px;
	margin-bottom: -100px;
    cursor: pointer;
}

.container .card .face{
    width: 100%;
    height: 180px;
    transition: 0.5s;
	border-radius: 10px;
	padding: 10px;
}

.container .card .face.face1{
    position: relative;
    background: #004e8c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(80px);
}

.container .card:hover .face.face1{
    background: #a3218e;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.9;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 80px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 10;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
}
.container .card .face.face1 .content h2{
    margin: 10px 0 0;
    padding: 10;
    color: #fff;
    text-align: center;
    font-size: 1.1em;
}
.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 10;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 800;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}