@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../img/img_gen/background_food.svg), linear-gradient(0deg, rgba(245,141,116,1) 28%, rgba(87,146,201,1) 28%);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #f58d74;

}
.etiqueta-nombre {
	padding: 10px;
	border-radius: 6px;
}