@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../img/img_gen/background_food.svg), linear-gradient(0deg, rgba(92,136,197,1) 28%, rgba(87,146,201,1) 28%);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #5c88c5;

}